<h1>Admin Dashboard</h1>

<p>Welcome, <%= current_user.username %>!</p>

<h2>All Users (<%= User.count %>)</h2>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Flags</th>
      <th scope="col">Admin?</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
          <%= link_to user.username, posts_user_path(user), class: "text-decoration-none text-white" %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.flags %></td>
        <td><%= user.admin? ? "Yes" : "No" %></td>
        <td>
          <%= button_to "Cancel Account", cancel_account_user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this account?" }, class: "btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
